Django==1.8.3
dj-database-url==0.3.0
django-registration-redux==1.2
gunicorn==19.3.0
psycopg2==2.6
requests==2.7.0
whitenoise==2.0.2

# django rest framework and optional packages.
djangorestframework==3.2.2
Markdown==2.6.2
django-filter==0.10.0
