form {
}

input.field {
	margin:8px 0px;
	padding:2px;
	padding-left: 4px;
	font-size: 14px;
	min-width: 75%;
	margin-right: 10px;
	.content--login & {
		min-width: 50%;
	}
}

.form-fields {
	padding-bottom: 20px;
}
