.content--project-list {
	background:#FFF url(../images/icon-list.png) 60px 70px no-repeat;
}

ul.project-list {
	margin:40px 0px;
	list-style-type: none;
	padding:0px;
	li {
		border:2px solid #CCC;
		padding:10px;
		margin-bottom: 10px;
		display: flex;
	}
}

span.project__attribute--content {
	flex-grow:1;
	padding:0px 15px;
	display: block;
	position: relative;
}

span.project__attribute--image {
	border:1px solid #CCC;
	width: 80px;
	height: 80px;
	background-color: #DDD;
	text-align: center;
	color: #FFF;
	line-height: 2em;
}

.project__attribute--name {
	display: block;
	font-size: 20px;
	font-weight: 600;
}

.project__attribute--date-created {
	font-size: 12px;
	opacity: 0.75;
}

.project__links {
	position: absolute;
	bottom: 0px;
}

.project__attribute--submissions, 
.project__attribute-link--enter-data, 
.navlink--view-report {
	margin-right: 15px;
	font-size: 13px;
}