/* code and img rules carried over from exported html
*/
code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}

img {
  max-width: 100%;
  height: auto;
}

.content.content--report {
	background:#FFF url(../images/icon-bullseye.png) 60px 70px no-repeat;
} 
