<html>
  <head>
    <title>{% block title %}Equity Tool{% endblock %}</title>
    {% load staticfiles %}
    {% if csrf_token %}<meta name="csrf-token" content="{{csrf_token}}">{% endif %}
    <style type="text/css">
    body.loading {
      background-color: #2990C2;
    }
    body.loading #content {
      text-align: center;
      font-size: 20px;
      padding: 30px;
      margin: 30px;
      color: #fff;
    }
    </style>
  </head>
  <body class="loading">
    <div id="content">
      EquityTool page loading...
    </div>
    <script src="{% static 'assets/main.js' %}"></script>
    <script type="text/javascript">
      document.body.classList.remove('loading');
    </script>
  </body>
</html>
