{% extends 'base.html' %}

{% block content %}

{% if not request.user.is_authenticated %}
<h6 class="docs-header">Welcome to KoBoReports!</h6>
<ul>
  <li>Do you already have a KoBoToolbox account? Login <a href="{% url 'rest_framework:login' %}?next={{ request.path }}">here</a>.</li>
  <li>Do you need a KoBoToolbox account? Register <a href="https://kf.kobotoolbox.org/accounts/register/" target="_blank">here</a>.</li>
</ul>
{% else %}

{% if renderings.count > 0 %}
<table>
  <tr><th>Template</th><th>Data</th><th colspan="3">Formats</th></tr>
  {% for r in renderings %}
  <tr>
    <td>{{ r.template.slug }}</td>
    <td>{{ r.url }}</td>
    {% for ext in extensions %}
    <td><a href="{% url 'rendering' id=r.id  extension=ext %}">{{ ext }}</a></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p>To create a new report:</p>
<ul>
  <li>First, create a report <a href="{% url 'templates' %}">template</a>.</li>
  <li>Second, create a report template <a href="{% url 'renderings' %}">rendering</a>.</li>
</ul>
{% endif %}
{% endif %}

{% endblock %}

