<html>
  <body>

{% if renderings.count > 0 %}
<p>Hello {{ user.username }}, below is a list of your reports.</p>

<table>
  <tr><th>Template name</th><th>Data source</th><th colspan="3">Formats</th></tr>
  {% for r in renderings %}
  <tr>
    <td>{{ r.template.slug }}</td>
    <td>{{ r.url }}</td>
    {% for ext in extensions %}
    <td><a href="{% url 'rendering' id=r.id  extension=ext %}">{{ ext }}</a></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You have not created any reports yet.</p>
{% endif %}
    
    <p>
      Welcome to KoBoReports. To create, read, update, or delete
      report templates go <a href="{% url 'templates' %}">here</a>. To
      create, read, update, or delete renderings of those templates
      go <a href="{% url 'renderings' %}">here</a>.
    </p> 
  </body>
</html>
