{% extends 'equity-base.html' %}
{% load humanize %}

{% block content %}

{% if not request.user.is_authenticated %}
<h6 class="docs-header">Get started with the Equity Tool</h6>

<ul>
  <li>Already have an account? Sign in <a href="{% url 'social:begin' 'kobo-oauth2' %}?next={{ request.path }}">here</a>.</li>

  <li>Want a new account? Register for a free account <a href="https://kf.kobotoolbox.org/accounts/register/" target="_blank">here</a>.</li>
</ul>

{% else %}

{% if request.user.renderings.count > 0 %}
<h6 class="docs-header">Your projects</h6>
<table>
  <tr>
    <th>Name</th>
    <th>Created</th>
    <th># Submissions</th>
    <th>Synched</th>
    <th>Enter data</th>
    <th colspan="3">Export</th>
  </tr>
  {% for r in request.user.renderings.all %}
  <tr>
    <td>{{ r.name }}</td>
    <td>{{ r.created|naturaltime }}</td>
    <td>{{ r.submission_count|intcomma }}</td>
    <td>{{ r.modified|naturaltime }}</td>
    <td><a href="https://kc.kobotoolbox.org/{{ request.user.username }}/forms/equity_tool/enter-data" target="_blank">web form</a></td>
    {% for ext in extensions %}
    <td><a href="{% url 'rendering' id=r.id  extension=ext %}">{{ ext }}</a></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}

<a class="button" href="{% url 'create-project' %}">Create a new project</a>
{% endif %}

{% endblock %}
